*{
    margin: 0;
    padding: 0;
} 

header{
	display:flex;
    position: relative;
    position:fixed;
    background-color: rgb(49, 49, 49);
    z-index: 1;
    width:100%;
    box-shadow: #485163 2px 2px 2px;
}

nav{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
	width: 100%;
    border-radius: 0 0 15px 0;
}

.menu a{
    color: #e7efff ;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu{
    width:100%;
    font-size: x-large;
    text-align: center;
}
.menu:hover a{
    color:lightblue;
}

#ppLouis {
    float: left;
    position: relative;
    position: fixed;
    margin-top: 72px;
    border-radius: 20% 50% / 10% 0%;
    left:0px;
    width: 10%;
}

.barre{
    border-right: 1px solid black;
}

.barre2{
    border-left: 1px solid black;
    text-align: center;
}


.media:hover .invisible{
    display:none;
}
.media:hover .sous-menu{
    display: block;
}
.sous-menu{
    display: none; 
}

.contact{
    background-color: rgb(101, 101, 101);
    position: absolute ;
    position: fixed;
    top: 80px;
    right: 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 20% 50% / 0% 10%;
}

.contact div {
    display:flex;
    align-items: center ;
    flex-direction: column;
    width: 180px;
}

.contact p {
    color: #e7efff ;
}

@media print{
    header{
        display: none;
    }
}
@media screen and (max-width:1200px){
    .h1_menu{
        font-size:smaller;
    }
}
@media screen and (max-width:900px){
    img{
        width: 100px;
    }
}

