@import "tailwindcss";

@theme {
  --font-serif: "Instrument Serif", serif;
  --font-display: "Instrument Serif", serif;
}

@font-face {
  font-family: 'Instrument Serif';
  src: url('/fonts/instrument-serif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.paragraph {
  @apply text-lg text-white text-justify;
}

section {
  @apply pt-20 pb-20;
}

.sectionTitle {
  @apply text-center pb-20 text-3xl text-white;
}