<section>
    <p class="text-center pb-20 text-3xl text-white">Mon alternance</p>
    <div class="flex pl-40 pr-40 gap-10">
        <div class="w-3/5">
            <p class="paragraph">
                J'effectue ma 2ᵉ et 3ᵉ année de BUT en alternance chez AGEDI, un syndicat mixte spécialisée dans le développement de site web de gestion pour les collectivités territoriales, à Aurillac (15). 
                Je participe à la maintenance et à l’implémentation de nouvelles fonctionnalités de l'application comptable de la gamme PROXIMA. 
                Ce cursus me permet de découvrir le monde de l'entreprise, les technologies associées, tout en gagnant en expérience grâce à un apprentissage complémentaire à la formation scolaire.
            </p>
            <div class="mt-20">
                <p class="paragraph">+ outils</p>
            </div>
        </div>
        <div class="w-2/5 h-[500px]">
            <object
                data="/rapport_d_alternance_Louis_Bordes.pdf"
                type="application/pdf"
                class="w-full h-full"
            >
                <p>Votre navigateur ne peut pas afficher ce PDF. 
                    <a href="/rapport_d_alternance_Louis_Bordes.pdf" class="text-blue-400 underline">Cliquez ici pour le télécharger.</a>
                </p>
            </object>
        </div>
    </div>
</section>