---
import '../styles/global.css';
import background2 from '../assets/background2.jpg';
import ppLouis from '../assets/ppLouis.jpg';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="ppLouis" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body style={{ backgroundImage: `url(${background2.src})` }} class="bg-cover bg-fixed" >
		<nav class="sticky top-0 h-30 bg-black w-full z-50 flex items-center">
			<a href="#Hero" class="navText">Moi</a>
			<a href="#Alternance" class="navText">Mon alternance</a>
			<a href="#Projets" class="navText">Mes projets</a>
			<a href="/portfolio/CV_Louis_Bordes.pdf" target="_blank" class="navText">Mon CV</a>
		</nav>
		<slot />
	</body>
</html>

<style>
	@reference "tailwindcss";

	html,
	
	body {
		margin: 0;
		padding: 0;
		min-height: 100vh;
		background-color: black;
	}

	#backgroundImg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	.navText {
		@apply w-1/4 text-center text-4xl text-white font-bold hover:text-blue-400 font-serif ;
	}
</style>
